<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zela Nails Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
    <div class="jumbotron text-center custom-jumbotron">
        <div class="container-fluid py-2 px-4">
            <div class="d-flex justify-content-between align-items-center">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Zela Nails Logo"
                    style="height: 100px; margin-right: 100px;">
                <h1 class="display-5 fw-bold m-0">Zela Nails Dashboard</h1>
                <div class="d-flex gap-2">
                    <h6 class="card-title mb-2 text-muted">Store</h6>
                    <select id="storeDropDown" class="form-select"></select>

                    <h6 class="card-title mb-2 text-muted">Year</h6>
                    <select id="yearDropDown" class="form-select"></select>

                    <h6 class="card-title mb-2 text-muted">Month</h6>
                    <select id="monthDropDown" class="form-select"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="totalSalesBox" class="kpi-box">
            <h3>Total Sales</h3>
            <p id="salesAmount">$24,000</p>
        </div>
        <div id="numberSales" class="kpis-box">
            <h3>Number Of Sales</h3>
            <p id="numberSales"></p>
        </div>
        <div id="topTeamMembers" class="kpis-box">
            <h3>Top Team Members</h3>
            <p id="topMembers"></p>
        </div>
        <div id="topCategorySales" class="kpis-box chart">
            <h3>Top Selling Services</h3>
            <p id="topCategory"></p>
        </div>
        <div id="topClients" class="kpis-box">
            <h3>Top Clients</h3>
            <p id="topClients"></p>
        </div>
        <div id="dailySales" class="kpis-box chart">
            <h3>Daily Sales</h3>
            <!-- Line chart will go here -->
        </div>
        <div id="monthlySales" class="kpis-box chart">
            <h3>Monthly Sales</h3>
            <!-- Line chart will go here -->
        </div>
        <div class="kpis-box chart">
            <h3>Appointment Channels</h3>
            <!-- Pie chart will go here -->
        </div>
        <div class="kpis-box chart">
            <h3>Sales by Category</h3>
            <!-- Bar chart will go here -->
        </div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>

</html>