<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zela Nails Dashboared</title>
</head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
    <h1>Zela Nails Dashboared</h1>
    <div id="totalSalesBox" class = "kpi-box">
        <h3>Total Sales</h3>
        <p id="salesAmount">$23,000</p>
    </div>
    <div id="monthlySales" class = "kpis-box">
        <h3>Total Monthly Sales</h3>
        <p id="monthlySalesAmount"></p>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>